body {
	font-family: "Droid Sans", Sans-Serif;
	font-size: 16px;
	margin: 0px auto;
	color: #11151A;
	background: #FAFBFC url(images/bg.png) no-repeat top left;
}
header, section, article, aside, nav ul, footer, nav {
	display: block;
}
.footnotes {
	font-size: 12px;
}
section h1 {
	font-size: 24px;
}
section h2 {
	font-size: 18px;
}
footer h1 {
	font-size: 24px;
}
.featured {
	vertical-align:2px;
	margin: 0px -1px 0px 5px;
}
.lbback {
	background: #11151A;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
	right: 0px;
}
.w120 {
	width: 120px;
}
nav ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
.borderless {
	border: 0px none !important;
}
article.exec {
	clear: left;
	min-height: 150px;	
}
.exec h1 {
	font-weight: normal;
}
div.exec h1 {
	display: block;
	margin: 0px;
	font-size: 20px;
}
section.latest h2 {
	font-size: 20px;
}
section.latest h3 {
	font-size: 16px;
}
section.forthcoming, section.intro {
	margin-bottom: 1em;
}
aside {
	font-size: 14px;
	float: right;
	clear: right;
	width: 234px;
	min-height: 65px;
	padding: 10px 12px 0px 14px;
	background: url(images/side.png) bottom center no-repeat;
}
aside h1 {
	font-size: 16px;
}
nav.archive li a {
	cursor: pointer;
}
nav.archive li li {
	padding-left: 10px;
}
aside nav {
	border: 1px solid #B8B9BA;
	padding: 2px 6px;
	margin-bottom: 70px;
	height: 100%;
	border-bottom: 0px none;
}
aside nav ul {
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	color: #458;
	text-decoration: none;
}
a:hover, a:active {
	color: #37a;
	text-decoration: none;
}
p {
	margin: 0px 0px 1em;
}
header.main {
	width: 850px;
	height: 247px;
	margin: 0px auto;
	text-align: left;
	pointer-events: none;
	background: url(images/phototop.png) no-repeat top right;
}
header.main h1 {
	font-size: 100px;
	display: none;
}
section.content {
	width: 800px;
	min-height: 300px;
	margin: 75px auto 0px;
	text-align: left;
}

*:first-child+html section.content {
	margin: 60px auto 0px;
}
* html section.content {
	margin: 60px auto 0px;
}
nav.menu li a:link, nav.menu li a:visited{
	color: #ccd3dA;
	text-decoration: none;
}
nav.submenu li a:link, nav.submenu li a:visited, nav.crumbs li a:link, nav.crumbs li a:visited {
	color: #11151A;
	text-decoration: none;
}
nav.menu li a:hover, nav.menu li a:active {
	color: #f8fcff;
	text-decoration: none;
}
nav.submenu li a:hover, nav.submenu li a:active, nav.crumbs li a:active, nav.crumbs li a:hover {
	color: #444D53;
	text-decoration: none;
}
nav.menu ul {
	margin: -85px auto 0px;
	width: 820px;
}
nav.menu ul li {
	float: left;
	font-size: 28px;
	margin-right: 40px;;
	font-weight: bold;
}
nav.submenu ul {
	display: block;
	margin: 45px auto 0px;
	width: 800px;
}
*:first-child+html nav.submenu ul {
	margin: 15px auto -45px;
}
* html nav.submenu ul {
	margin: 15px auto -45px;
}
nav.submenu ul li {
	float: left;
	font-size: 20px;
	margin-right: 20px;
	font-weight: bold;
}
nav.crumbs ul {
	margin: 47.5px auto 0px;
	width: 740px;
}
*:first-child+html nav.crumbs ul {
	margin: 30px auto -45px;
}
* html nav.crumbs ul {
	margin: 30px auto -45px;
}
nav.crumbs ul li {
	float: right;
	font-size: 16px;
	margin-right: 4.5px;
}
nav.crumbs a {
	font-weight: bold;
}
nav.map ul {
	list-style-type: none;
	padding-left: 10px;
	margin-top: 0px;
}
span.available {
	display: inline-block;
	padding: 2px 4px;
	margin-top: 2px;
}
.available.both {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}
.available.left {
	margin-right: -3px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}
.available.right {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
}
.available.green {
	background: #060;
}
.available.red {
	background: #c00;
}
article.link {
	clear: left;
	min-height: 90px;	
}
article.link h1, article.gear h1 {
	font-size: 24px;
}
article.news h1 {
	font-size: 20px;
}
article.news h2 {
	font-size: 16px;
}
article.news p {
	margin-bottom: 0px;
}
article.news h3 {
	font-size: 15px;
	display: block;
	margin-top: 0px;
	margin-bottom: 1em;
}
article.gear {
	clear: left;
	min-height: 105px;	
}
figure {
	border: #444D53 solid 1px;
	background: #fdfeff;
	margin: 4px;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
}
figure img {
	display: block;
}
figure.r {
	float: right;
	clear: right;
}
figure.l {
	float: left;
	clear: left;
}
nav.map li a:link, nav.map li a:visited {
	color: #ccd3dA;
	text-decoration: none;
}
nav.map li a:hover, nav.map li a:active {
	color: #f8fcff;
	text-decoration: none;
}
footer {
	padding-top: 35px;
	color: #FAFBFC;
	background: url(images/bottom.png) no-repeat top left;
}
footer div {
	width: 800px;
	margin: 0px auto;
}
footer div section {
	width: 250px;
	padding-right: 20px;
	display: table-cell;
}
h1, h2, h3, h4, h5, h6 {
	display: inline;
}
img.header {
	position: relative;
	top: -209px;
}
*:first-child+html img.header {
	position: static;
	top: auto;
}
* html img.header {
	position: static;
	top: auto;
}
